click==6.7
Flask==0.12.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.1
WTForms==2.1
Flask-Login==0.4.0
Flask-Babel==0.11.2
requests == 2.14.2
pydocstyle == 2.0.0
Sphinx == 1.6.1
bitarray == 0.8.1
