{%if userRol[current_user.id][0] == 'Profesor' %}
    {% extends "navigation_bar.html" %}
{% else %}
    {% extends "navigation_bar_user.html" %}
{% endif %}

{% block title %}{{ _('3D Visor') }}{% endblock title %}

{% block extra_css %}
	{{ super() }}
	canvas {
		position: fixed;
		top: 37px;
		left: 20%;
		width: 80%;
		height: calc(100% - 37px);
	}

	.ui-selecting 
	{
		background: #FECA40;
	}

	.ui-selected 
	{
		background: #F39814;
		color: #000000;
	}

	#annotations-list-placeholder,
	#measurements-list-placeholder
	{
		height: calc(100% - 55px);
		overflow: auto;
	}

	#annotation-list,
	#measurement-list 
	{
		margin: 0;
		padding: 0;
		overflow: auto;
		height: 100%;
	}

	#annotations-title-placeholder,
	#measurements-title-placeholder
	{
	}

	#annotations-menu-placeholder,
	#measurements-menu-placeholder
	{
		position: fixed;
		width: 20%;
	}

	#annotations-menu-placeholder
	{
		top: 74px;
		bottom: calc(50% - (74px/2));
	}

	#measurements-menu-placeholder
	{
		top: calc(50% + (74px/2) + 5px);
		bottom: 0px;
	}

	#annotation-list-title,
	#measurement-list-title
	{
		margin: 0px;
	}

	.separator
	{
		background: #069;
		height: 5px;
		position: fixed;
		width: 100%;
	}

	#sep1
	{
		top: 69px;
	}

	#sep2
	{
		top: calc(50% + (74px/2));
	}

	#annotation-list li, #measurement-list li
	{
		margin: 3px;
		padding: 0.4em;
		font-size: 16px;
		height: 18px;
		cursor: pointer;
		white-space: nowrap;
	}

	.ui-widget-content 
	{
		background: #cedc98;
		border: 1px solid #DDDDDD;
		color: #333333;
	}

	.unselect-button
	{
		position: relative;
	}

	.add-button
	{
		position: relative;
	}

	.remove-button
	{
		position: relative;
	}

	.edit-button
	{
		position: relative;
	}

	#annotation-buttons-placeholder,
	#measurement-buttons-placeholder,
	#point-manager-placeholder
	{
		height: 32px;
	}

	#point-manager-placeholder
	{
		position: relative;
		top: 0px;
		float: left;
		width: 100%;
	}

	#file {
		opacity: 0;
		widht: 0;
		height: 0;
	}

	.dg.ac {
		top: 37px;
	}
{% endblock extra_css %}

{% block body_content %}
	<div id="tag" style="display:none">
		<input type="text" id="tag-content">
	</div>
	<div id="select-one-warn" style="display:none">
		<p>
			{{ _('Please, select just one.') }}
		</p>
	</div>
	<div id="removing-warn" style="display:none">
		<p>
			{{ _('Because you didn\'t selected one object before press "remove",
			just the next object you press will be deleted.') }}
		</p>
	</div>
	<div id="not-same-model-warn" style="display:none">
		<p>
			{{ _('The file of points you are importing does not correspond to
			the not of the same model: do it at your own risk.') }}
		</p>
	</div>

	<div id="point-manager-placeholder">
		<button id="import-points" class="import-button">{{ _('Import points') }}</button>
		<button id="export-points" class="export-button">{{ _('Export points') }}</button> {{ _('Import & Export') }}
		<input id="file" type="file"/>
	</div>

	<div id="sep1" class="separator"></div>

	<div id="annotations-menu-placeholder">
		<div id="annotations-title-placeholder">
			<h3 id="annotation-list-title">{{ _('Annotations') }}</h3>
		</div>
		<div id="annotations-list-placeholder">
			<ol id = "annotation-list">
			</ol>
		</div>
		<div id="annotation-buttons-placeholder">
			<button id="unselect-annotation-button" class="unselect-button">{{ _('Unselect all') }}</button>
			<button id="add-annotation-button" class="add-button">{{ _('Add') }}</button>
			<button id="remove-annotation-button" class="remove-button">{{ _('Remove') }}</button>
			<button id="edit-annotation-button" class="edit-button">{{ _('Edit') }}</button>
		</div>
	</div>

	<div id="sep2" class="separator"></div>

	<div id="measurements-menu-placeholder">
		<div id="measurements-title-placeholder">
			<h3 id="measurement-list-title">{{ _('Measurements') }}</h3>
		</div>
		<div id="measurements-list-placeholder">
			<ol id = "measurement-list">
			</ol>
		</div>
		<div id="measurement-buttons-placeholder">
			<button id="unselect-measurement-button" class="unselect-button">{{ _('Unselect all') }}</button>
			<button id="add-measurement-button" class="add-button">{{ _('Add') }}</button>
			<button id="remove-measurement-button" class="remove-button">{{ _('Remove') }}</button>
			<button id="edit-measurement-button" class="edit-button">{{ _('Edit') }}</button>
		</div>
	</div>

	<canvas id="threejs_canvas"></canvas>
	<script src="{{url_for('static', filename='js/three.min.js') }}"></script>
	<script src="{{url_for('static', filename='js/PLYLoader.js') }}"></script>
	<script src="{{url_for('static', filename='js/STLLoader.js') }}"></script>
	<script src="{{url_for('static', filename='js/OrbitControls.js') }}"></script>
	<script src="{{url_for('static', filename='js/dat.gui.js') }}"></script>
	<script src="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/external/jquery/jquery.js') }}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
	<script src="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
	<script src="{{url_for('static', filename='js/MyScript.js') }}"></script>
{% endblock body_content %}