{% extends "main_page.html" %}

{% block extra_css %}
    #models-view{
        display: flex;
		justify-content: center;
		padding:50px;
    }

	#modelos{
		opacity:0.5;
	}
	
	body  {
		background-image: url("../static/images/fondo_main_page.png");
		background-size: cover;
	}
{% endblock extra_css %}

{% block body_content %}
	<div id="models-view">
		<a href="{{ url_for('ply_shelf') }}"><img id="modelos" src="../static/images/model_search.png" alt="Models" height="500" width="500" onmouseover="this.style.opacity=1" onmouseout="this.style.opacity=0.5"></a>
	</div>
	<center><font face="Ubuntu" size="5" color="DodgerBlue"><b>{{ _('Models') }}</b></font></center>
	
{% endblock body_content %}