{% extends "navigation_bar.html" %}
{% block breadcrumb %}
	<li><a href="{{ url_for('main') }}">{{ _('Main Page') }}</a></li>
	<li><a href="{{ url_for('show_exercise_templates') }}">{{ _('Exercises Templates') }}</a></li>
{% endblock breadcrumb %}

{% block title %}{{ _('Exercises') }}{% endblock title %}

{% block extra_css %}

	#container{
		width:100%;
		height: 100%;
	}
	
	#img-buttons{
		float:left;
		width: 30%;
		height: 100%;
		padding:auto;
		margin:auto;
	}
	
	#exercise-list li{
		margin: 3px;
		padding: 0.4em;
		font-size: 16px;
		height: 18px;
		cursor: pointer;
		white-space: nowrap;
	}
	
	#list{
		float:left;
		width: 70%;
		height: 100%;
		padding:auto;
		margin:auto;
	}
	
{% endblock extra_css %}

{% block body_content %}
	<div id="tag" style="display:none">
		<input type="text" id="tag-content">
	</div>
	<div id="delete-tag" style="display:none">
	</div>
	<div id="container">
		<div id="img-buttons">
			<div id="img">
				<img src="{{ url_for('preview', filename=file) }}" height="500" width="500">
			</div>
			
			<div id="buttons_placeholder">
				<a href="{{ url_for('show_ply_models_exercise', filename=file) }}"><img src="../static/uploads/plus-icon.png" alt="Models" height="25" width="50"></a>
			</div>
		</div>
		
		<div id="list">
			<ol id = "annotation-list">
			 {% for f in files %}
				<div id="div-exercise" onmouseover="changeColor(this)" onmouseout="normalColor(this)">
					<li>
						<img src="../static/uploads/folder.png" alt="Models" height="40" width="40">
						<a href="{{ url_for('edit_ply_models_exercise', exercise=f, filename=file) }}">
							<button id="edit-button" style="display:none;float:right;" class="edit-button">{{ _('Edit') }}</button>
						</a>
						<button id="remove-button" style="display:none;float:right;" class="remove-button" onclick="deleteDialog('{{f}}')">{{ _('Remove') }}</button>
						<button id="edit-name" style="display:none;float:right;" class="edit-name-button" onclick="changeName()">{{ _('Edit Name') }}</button>
						<p id="name" contenteditable="false">{{f}}<p>
					</li>
				</div>
			{% endfor %}
			</ol>
		</div>
		
	</div>
	
	<script>
		
		var prevName;
		
		function changeColor(x) {
			x.style.backgroundColor = "#D6EAF8";
			x.getElementsByTagName("button")[0].style.display = "inline";
			x.getElementsByTagName("button")[1].style.display = "inline";
			x.getElementsByTagName("button")[2].style.display = "inline";
		}

		function normalColor(x) {
			x.style.backgroundColor = "white";
			x.getElementsByTagName("button")[0].style.display = "none";
			x.getElementsByTagName("button")[1].style.display = "none";
			x.getElementsByTagName("button")[2].style.display = "none";
		}
		
		function deleteDialog(ex) {
			let dialog = $( "#delete-tag" );
			dialog.dialog({
				title: "¿Eliminar el ejercicio?",
				modal: true,
				buttons: {
					"Sí": function(){
						$.ajax({
							url: '/_delete',
							type: "POST",
							data: JSON.stringify({'filename' : ex}),
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							success: 
								function(data){
									console.log("Exercise deleted");
								}
						});
						$(this).dialog("close");
						location.reload();
					},
					"No": function() {
						$(this).dialog("close");
					}
				}
                    });
		}
		
		function changeName() {
			prevName = document.getElementById("name").innerHTML;
			let dialog = $( "#tag" );
			dialog.dialog({
				title: "Editing...",
				modal: true,
				open: function(){
					$("#tag-content").val(document.getElementById("name").innerHTML).on(
						"keypress",
						function(e) {
							switch(e.keyCode) {
								case 13:
									$('.ui-button:contains("Save")').click();
								break;
								case 27:
									$('.ui-button:contains("Close")').click();
								break;
							}
						}
					);
				},
				buttons: {
					"Save": function(){
						let finalTagValue = $("#tag-content")[0].value;
						$.ajax({
							url: '/_modify_filename',
							type: "POST",
							data: JSON.stringify({'name' : finalTagValue , 'prevName' : prevName, 'filename' : "{{file}}"}),
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							success: 
								function(data){
									console.log("Exercise name modified");
								}
						});
						$(this).dialog("close");
						location.reload();
					},
					Cancel: function() {
						$(this).dialog("close");
					}
				}
                    });
		}
		
	</script>
	
<script src="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/external/jquery/jquery.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
<script src="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
{% endblock body_content %}