{% extends "ply_models.html" %}
{% block breadcrumb %}
	<li><a href="{{ url_for('main') }}">{{ _('Main Page') }}</a></li>
	<li><a href="{{ url_for('show_exercise_templates') }}">{{ _('Exercises Templates') }}</a></li>
{% endblock breadcrumb %}

{% block title %}{{ _('Exercise Templates') }}{% endblock title %}

{% block extra_css %}

    img {
        height: 256px;
        width: 256px;
    }
	
	html {
		background-image: url("../static/images/model_list.png");
		background-size: cover;
		width: 100%;
		heigth: 100%;
	}
	
{% endblock extra_css %}

{% block body_content %}
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {% for file in files %}
        <a href="{{ url_for('show_ply_models_exercise_templates', filename=file) }}">
            <img src="{{ url_for('preview', filename=file) }}">
        </a>
    {% endfor %}
	
	{% block model_delete %}
	{% endblock model_delete %}
{% endblock body_content %}