{%if userRol[current_user.id] == 'Profesor' %}
    {% extends "navigation_bar.html" %}
	{% block breadcrumb %}
		<li><a href="{{ url_for('main') }}">{{ _('Main Page') }}</a></li>
		<li><a href="{{ url_for('ply_shelf') }}">{{ _('Models') }}</a></li>
	{% endblock breadcrumb %}
{% else %}
    {% extends "navigation_bar_user.html" %}
	{% block breadcrumbUser %}
		<li><a href="{{ url_for('main') }}">{{ _('Main Page') }}</a></li>
		<li><a href="{{ url_for('ply_shelf') }}">{{ _('Models') }}</a></li>
	{% endblock breadcrumbUser %}
{% endif %}

{% block title %}{{ _('PLY Models') }}{% endblock title %}

{% block extra_css %}

	div {
		height: 256px;
        width: 260px;
		float: left;
	}
    img {
		position: absolute;
        height: 256px;
        width: 256px;
    }
	
	html {
		background-image: url("../static/images/model_list.png");
		background-size: cover;
		width: 100%;
		heigth: 100%;
	}
	
{% endblock extra_css %}

{% block body_content %}

	<div id="delete-tag" style="display:none">
	</div>
		
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    
	{% block model_delete %}
		{% for file in files %}
			<div onmouseover="displayButton(this)" onmouseout="hideButton(this)">
				<a href="{{ url_for('show_ply_models', filename=file) }}">
					<img src="{{ url_for('preview', filename=file) }}">
				</a>
				<button id="remove-button" style="display:none;position:absolute;font-size:24px;color:#069;opacity:0.8;" class="remove-button" onclick="deleteDialog('{{file}}')"><i class="fa fa-trash"></i></button>
			</div>
		{% endfor %}
		
	{% endblock model_delete %}
	<script>
		var prevName;
		
		function displayButton(x) {
			x.getElementsByTagName("button")[0].style.display = "inline";
		}

		function hideButton(x) {
			x.getElementsByTagName("button")[0].style.display = "none";
		}
		
		function deleteDialog(ex) {
			let dialog = $( "#delete-tag" );
			dialog.dialog({
				title: "¿Eliminar el modelo?",
				modal: true,
				buttons: {
					"Sí": function(){
						$.ajax({
							url: '/_delete_model',
							type: "POST",
							data: JSON.stringify({'filename' : ex}),
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							success: 
								function(data){
									console.log("Model deleted");
								}
						});
						$(this).dialog("close");
						location.reload();
					},
					"No": function() {
						$(this).dialog("close");
					}
				}
                    });
		}
		
	</script>
	
<script src="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/external/jquery/jquery.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
<script src="{{url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
{% endblock body_content %}