{% extends "visor.html" %}
{% block breadcrumb %}
	<li><a href="{{ url_for('main') }}">{{ _('Main Page') }}</a></li>
	<li><a href="{{ url_for('show_exercise_templates') }}">{{ _('Exercises Templates') }}</a></li>
{% endblock breadcrumb %}

{% block buttonsImport %}
	<button id="save-points" class="save-button">{{ _('Save') }}</button> {{ _('Save') }}
	<a href="{{ url_for('show_ply_models_exercise_templates', filename=file) }}">
		<button id="cancel-exercise" class="cancel-button">{{ _('Cancel') }}</button>
	</a>
	
	<div id="load-hidden-div" style="display: none;">
		<button id="load-points" class="load-button"></button>
		<p id="ejercicio"><p>
		<p id="nombre"><p>
	</div>
	
	<script>
		document.getElementById("ejercicio").innerHTML = "{{ex}}";
		document.getElementById("nombre").innerHTML = "{{file}}";
		
	</script>
{% endblock buttonsImport %}