{% extends "visor.html" %}
{% block breadcrumb %}
	<li><a href="{{ url_for('main') }}">{{ _('Main Page') }}</a></li>
	<li><a href="{{ url_for('show_exercise_templates') }}">{{ _('Exercises Templates') }}</a></li>
{% endblock breadcrumb %}

{% block buttonsImport %}
	<button id="save-points" class="save-button">{{ _('Save') }}</button>
	<button id="import-points" class="import-button">{{ _('Import points') }}</button>
	<button id="export-points" class="export-button">{{ _('Export points') }}</button>
	<button id="reset-anotations-mesaurements" class="reset-button">{{ _('Reset') }}</button>
	<button id="cancel-exercise" class="cancel-button">{{ _('Exit') }}</button>
	<input id="file" type="file"/>
	
	<div id="load-hidden-div" style="display: none;">
		<button id="load-points" class="load-button"></button>
		<a href="{{ url_for('show_ply_models_exercise_templates', filename=file) }}">
			<button id="redirect-to-list" class="redirect-button"></button>
		</a>
		<p id="ejercicio"><p>
		<p id="nombre"><p>
	</div>
	
	<div id="confirm-save-tag" style="display:none;width:100px;">
	</div>
	
	<script>
		document.getElementById("ejercicio").innerHTML = "{{ex}}";
		document.getElementById("nombre").innerHTML = "{{file}}";
	</script>
{% endblock buttonsImport %}